<!DOCTYPE html>

<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
     <title>Hidden Service</title>
</head>
<body>
    <h1>Este es un hidden service</h1>
    Para crear un hidden service podemos utilizar python y tor. La idea es utilizar una librería llamada stem para poder hacer un puente entre el LocalHost(donde estará la pagina) y tor.

Es necesario instalar TOR y python. 
Despues ir a la terminal en python y ejecutar:
pip install flask
pip install stem
<xmp>
```
from stem.control import Controller
from flask import Flask


#setting up the webpage service
app = Flask("security_page")
port = 5000
host = "127.0.0.1"
hidden_svc_dir = "c:/temp/"

#here you can add routes
@app.route('/')
def index():
    return "<h1>Este es un mensaje seguro!</h1>"


    
if __name__ == "__main__":
    print(" * Getting controller")
    controller = Controller.from_port(address="127.0.0.1", port=9151)
    try:
        controller.authenticate(password="")
        controller.set_options([
            ("HiddenServiceDir", hidden_svc_dir),
            ("HiddenServicePort", "80 %s:%s" % (host, str(port)))
            ])
        svc_name = open(hidden_svc_dir + "/hostname", "r").read().strip()
        print(" * Created host: %s" % svc_name)
    except Exception as e:
        print(e)
    app.run()
```
</xmp>
<h3>Podemos utilizar el codigo de arriba para abrir un servicio en el puerto 5000 de localHost, y crear una ruta onion (escondida). La unica pagina que tendrá sera la de index/home donde se mostrara "este es un mensaje seguro".
</h3>

<h1>Tambien podemos crear paginas más compleja/tradicionales si agregamos unas carpetas a nuestro flask</h1>
<br>
    <img src="/static/imgs/img.png">

<br>
Así como se ve en la imagen, dentro de la carpeta template pueden ir los archivos html que se utilizen. Y dentro de static todas las referencias que haga el html. Es importante recalcar que el servicio tor puede ser lento y no se recomienda incluir demasiadas llamadas a otras cosas.
El codigo quedaría así:
<xmp>
```
from stem.control import Controller
from flask import Flask, render_template


#setting up the webpage service
app = Flask("security_page")
port = 5000
host = "127.0.0.1"
hidden_svc_dir = "c:/temp/"

#here you can add routes
@app.route('/')
def index():
    return render_template("home.html")

@app.route('/home')
def home():
    return render_template("home.html")
    
if __name__ == "__main__":
    print(" * Getting controller")
    controller = Controller.from_port(address="127.0.0.1", port=9151)
    try:
        controller.authenticate(password="")
        controller.set_options([
            ("HiddenServiceDir", hidden_svc_dir),
            ("HiddenServicePort", "80 %s:%s" % (host, str(port)))
            ])
        svc_name = open(hidden_svc_dir + "/hostname", "r").read().strip()
        print(" * Created host: %s" % svc_name)
    except Exception as e:
        print(e)
    app.run()
```
</xmp>
</body>

</html>
